<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
	th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<script type="text/javascript">

$(document).ready(function(){
	$.ajax({
		type : "POST",
		url : "/searchByNameAjax",
		dataType : "text",
		data : {searchKey : ""},
		cache : false,
		success : function(data, status, xhr) {
			//alert("success");
			//alert(data);
			splitdata = data.split(";");
			var firstTr = $("#menutable tr:first-child");
			var trs = $("#menutable tr:not(:first-child)");
			trs.remove();
			firstTr.after(splitdata[1]);
			
			pagination = document.getElementById('pagination');
			pagination.innerHTML =splitdata[0];
			
		},
		error : function(XMLHttpRequest, status, errorThrown) {
			alert("fail:" + XMLHttpRequest);
			alert("status:" + status);
		}
	});
});
	
$(function() {
	$("#ajaxSearch").click(function() {
		var searchKey = document.forms.searchForm.keyword.value;
		$.ajax({
			type : "POST",
			url : "/searchByNameAjax",
			dataType : "text",
			data : {searchKey : searchKey},
			cache : false,
			success : function(data, status, xhr) {
				//alert("success");
				//alert(data);
				var firstTr = $("#menutable tr:first-child");
				var trs = $("#menutable tr:not(:first-child)");
				trs.remove();
				firstTr.after(data);
			},
			error : function(XMLHttpRequest, status, errorThrown) {
				alert("fail:" + XMLHttpRequest);
				alert("status:" + status);
			}
		});
	});
});

function onclickDelete(id){
	
	$.ajax({
		type : "POST",
		url : "/onclickDeleteAjax",
		dataType : "text",
		data : {id : id},
		cache : false,
		success : function(data, status, xhr) {
			var firstTr = $("#menutable tr:first-child");
			var trs = $("#menutable tr:not(:first-child)");
			trs.remove();
			firstTr.after(data);
		},
		error : function(XMLHttpRequest, status, errorThrown) {
			alert("fail:" + XMLHttpRequest);
			alert("status:" + status);
		}
	});

}

function onclickEdit(id){

	document.forms.hidForm.id.value = id;
	
	var f = document.forms.hidForm;
	f.method = "POST";
	f.action = "/edit";
	f.submit();
	
	return true;

}

function pageOnclick(num){
	alert("page_test:"+num);
	
}


</script>

</head>
<body>

	<div class="container">

		<h3>一覧画面</h3>



		<form th:action="@{/reg}" method="post">
			<input type="submit" class="btn btn-success" value="新規登録" />
		</form>

		<br /> <br />

		<form th:action="@{/searchByName}" method="post" id="searchForm">
			<input type="text" id="keyword" name="name" th:value="${name}" /> <input
				class="btn btn-default btn-sm" type="button" id="ajaxSearch"
				value="検索" />
		</form>

		<br />

		<ul class="pagination" id="pagination">
		</ul>

		<table class="table table-striped table-condensed" id="menutable">
			<tr>
				<th>商品名</th>
				<th>価格</th>
				<th colspan="2"></th>
			</tr>
			<tr th:each="food : ${foodModel}">
				<td th:text="${food.name}">牛丼</td>
				<td th:text="${food.price}">380</td>
				<td>
					<form th:action="@{/edit}" method="post">
						<input class="btn btn-default btn-sm" type="submit" value="編集" />
						<input type="hidden" name="id" th:value="${food.id}" />
					</form>
				</td>
				<td>
					<form th:action="@{/delete}" method="post">
						<input class="btn btn-danger btn-sm" type="submit" value="削除" />
						<input type="hidden" name="id" th:value="${food.id}" />
					</form>
				</td>
			</tr>

		</table>

		<form id="hidForm">
			<input type="hidden" name="id" />
		</form>

	</div>

</body>
</html>
